@media (min-width: 600px) {
    #nav {
        font-size: 1.4em;
    }
    #main-text {
        width: 40vw;
    }
    #home-img, #menu-img, #contact-img {
        width: 30px;
        height: 30px;   
    }
    #logo-left, #logo-mid, #logo-right {
        height: 6vh;
        width: 9vw;     
    }

    #logo-left, #logo-right, #logo-main {
        font-size: 1.5em;
    }

    #home-desc, #hours-main {
        font-size: 1.4em;
        width: 20vw;
    }
    p {
        font-size: 0.8em;
    }
    #iced, #lungo, #crema, #red-eye {
        width: 250px;
        height: 250px;
    }
    #iced {
        background-image: url('/src/assets/menu/iced.jpg');
    }
    
    #lungo {
        background-image: url('/src/assets/menu/lungo.jpg');
    }
    
    #crema {
        background-image: url('/src/assets/menu/crema.jpg');
    }
    
    #red-eye {
        background-image: url('/src/assets/menu/redeye.jpg');
    }

    .menu-desc {
        width: 250px;
    }
}
@media (max-width: 600px) {
    #nav {
        font-size: 1em;
    }
    #main-text {
        width: 70vw;
    }
    #home-img, #menu-img, #contact-img {
        width: 20px;
        height: 20px;   
    }
    #logo-left, #logo-mid, #logo-right {
        height: 6vh;
        width: 15vw;     
    }

    #logo-left, #logo-right, #logo-main {
        font-size: 15px;
        line-height: 3vh;
    }
    #logo-left, #logo-right {
        line-height: 40px;
    }

    #home-desc, #hours-main {
        width: 55vw;
        font-size: 13px;
    }

    #iced, #lungo, #crema, #red-eye {
        width: 125px;
        height: 125px;
    }
    #iced {
        background-image: url('/src/assets/menu/mobile-iced.jpg');
    }
    
    #lungo {
        background-image: url('/src/assets/menu/mobile-lungo.jpg');
    }
    
    #crema {
        background-image: url('/src/assets/menu/mobile-crema.jpg');
    }
    
    #red-eye {
        background-image: url('/src/assets/menu/mobile-redeye.jpg');
    }

    .menu-item h3 {
        font-size: 0.9em;
    }

    .menu-desc {
        width: 125px;
        font-size: 0.7em;
    }
}
body {
    margin: 0;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#nav {
    background-color: #38bdf8;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    position: sticky;
}

#nav > div {
    display: flex;
    cursor: pointer;
}

#nav > div:hover {
    text-decoration: underline;
}

#home-img {
    background-image: url('/src/assets/home-variant.svg');
}

#menu-img {
    background-image: url('/src/assets/silverware.svg');
}

#contact-img {
    background-image: url('/src/assets/map-marker.svg');
}

#main, #main-text {
    min-height: 85vh;
}

#main {
    background-image: url('/src/assets/background-img.jpg');
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#main-text {
    background-color: #fff;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#footer {
    background-color: #fde68a;
    height: 5vh;
    line-height: 5vh;
}

#footer-item {
    text-align: center;   
}

/*home page styles*/
#logo-main { 
    display: flex;
    justify-content:center;
    align-items: center;
}

#logo-left, #logo-mid, #logo-right, #home-desc, #hours-main {
    padding: 10px;
}


#logo-left, #logo-mid, #logo-right {
    text-align: center;
    background-color: #854d0e;
}

#home-desc, #hours-main {
    margin-left: auto;
    margin-right: auto;
}

#home-desc {  
    background-color: #e2e8f0; 
}

#hours-main {
    background-color: #e2e8f0;
    text-align: center;
}

/* menu page styles */
.menu-item {
    margin-left: auto;
    margin-right: auto;
    text-align: center;  
}

.menu-item h3 {
    background-color: #854d0e;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#iced, #lungo, #crema, #red-eye {
    background-repeat: no-repeat;
}

.menu-desc {
    background-color: #e2e8f0;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}
